<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }" *ngIf="authenticated">
  <div class="header">
    <h1 class="title">
      CJA
    </h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-house-door"></i>
        </div>
        <div class="title">Home</div>
      </div>
    </div>
  </div>
</div>
