<nav class="navbar navbar-expand-lg" style="background-color: #135D66;">
  <a class="navbar-brand" href="" style="margin-left: 100px; color: white">Estructuras Y Construcciones  Andreu S.L</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="authenticated">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard" (click)="reloadPage('/dashboard')">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes" (click)="reloadPage('/clientes')">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/obras" (click)="reloadPage('/obras')">Obras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/facturas" (click)="reloadPage('/facturas')">Facturas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inventario" (click)="reloadPage('/inventario')">Inventario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/partes" (click)="reloadPage('/partes')">Partes De Trabajo</a>
      </li>
    </ul>
  </div>
  <div class="pe-5" style="margin-right: 100px">
    <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!authenticated">
      <li class="nav-item border full-rounded">
        <button type="button" class="full-rounded altbutton" (click)="showModal()">
          Iniciar Sesion
        </button>
      </li>
      <span style="margin: 10px"></span>
      <li class="nav-item border full-rounded ">
        <button type="button" class="full-rounded altbutton" (click)="showModalRegister()">
          Registrarse
        </button>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="authenticated" (click)="logout()">
      <li class="nav-item">
        <button class="Btn">
          <div class="sign">
            <svg viewBox="0 0 512 512">
              <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
          <div class="text">Salir</div>
        </button>
      </li>
    </ul>
  </div>
</nav>
