<div *ngIf="loadingService.loadingState | async" class="overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="partes.length>0; else sinPartes" class=" col-lg-12" style="margin-left: 12%; margin-bottom: 35px">
    <div class="row" style="margin-top: 15px; margin-bottom: 15px">
      <div class="col-lg-4">
        <h1>Partes de trabajo de hoy</h1>
      </div>
        <div class="col-lg-4">
            <nav class="navbar">
                <input class="search " type="text" name="filter" [(ngModel)]="searchText" placeholder="Busqueda...">
            </nav>
        </div>
        <div class="col-lg-4 text-center">
            <div style="margin-top: 8px;">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="partes.length"></ngb-pagination>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="card-container">
            <div class="card" *ngFor="let parte of partes | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchText">
                <p class="card-text ps-2 pt-2"><i class="bi bi-building me-2"></i>Obra nº: {{ parte.id_obra }}</p>
                <p class="card-text ps-2"><i class="bi bi-person-vcard me-2"></i>Empleado: {{ parte.nombre_empleado }}</p>
                <p class="card-text ps-2"><i class="bi bi-calendar3 me-2"></i>Fecha: {{ parte.fecha_parte }}</p>

              <button class="download-button" style="margin-left: 13%; margin-top: 10px" (click)="descargarParte(parte)">
                <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg> Descargar</div>
                <div class="download">
                  <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewBox="0 0 24 24"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line y2="3" x2="12" y1="15" x1="12"></line></svg>
                </div>
              </button>
            </div>
        </div>
    </div>
</div>
<ng-template #sinPartes>
  <div class="alert alert-warning" role="alert">
    Hoy no se han hecho partes de trabajo.
  </div>
</ng-template>
