.section {
    background-color: #FFFFFFcc;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
@media screen and(max-width: 768px){
    .section{
        padding: 50px;
    }
}

.section {
  background-color: #FFFFFFcc;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
@media screen and(max-width: 768px){
  .section{
    padding: 50px;
  }
}

.area-cards{
  padding: 20px 0;
  max-width: inherit;
  margin-left: 10%;
}

.card {
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  overflow: hidden;
  border-radius: 15px;
  width: 350px;

}

.img1 img{
  height: 200px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;
}

.img2 img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  margin-top: -80px;
}

.main-text{
  padding: 30px 0;
}

.main-text h2{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
  text-align: center;
}

.main-text p{
  font-size: 16px;
  padding: 0 35px;
}

.line{
  border-top: 2px dashed #06A012;
}

.actions svg {
  font-size: 20px;
  color: darkcyan;
}
