<div class="modal-content">
  <!-- Login Form -->
  <form [formGroup]="newCliente" (submit)="save()">
    <div class="modal-header">
      <h5 class="modal-title">Nuevo Cliente</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="nif">NIF</label>
            <input formControlName="nif" type="text" name="nif" class="form-control" id="nif" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input formControlName="nombre" type="text" name="nombre" class="form-control" id="nombre" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="telefono">Telefono</label>
            <input formControlName="telefono" type="number" name="telefono" class="form-control" id="telefono" required min="0">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input formControlName="email" type="email" name="email" class="form-control" id="email" required>
      </div>
      <div class="mb-3">
        <label for="direccion">Direccion</label>
        <input formControlName="direccion" type="text" name="direccion" class="form-control" id="direccion" required>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="poblacion">Poblacion</label>
            <input formControlName="poblacion" type="text" name="poblacion" class="form-control" id="poblacion" required>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="provincia">Provincia</label>
            <input formControlName="provincia" type="text" name="provincia" class="form-control" id="provincia" required >
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="codigo_postal">Codigo Postal</label>
            <input formControlName="codigo_postal" type="number" name="codigo_postal" class="form-control" id="codigo_postal" required min="0">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-6 text-end">
            <button type="button" class="btn btn-danger" style="width: 90px;" [hidden]="isInfo">Cancelar</button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-success" style="width: 90px;" [disabled]="!newCliente.valid" [hidden]="isInfo">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
