<div>
    <!-- Login Form -->
    <form [formGroup]="newMaterial" (submit)="save()">
        <div class="modal-header">
            <h5 class="modal-title">Nuevo Material</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
            <div class="row ps-5">
                <div class="col-md-5">
                    <div class="mb-3">
                        <label for="nombre">Nombre</label>
                        <input formControlName="nombre" type="text" name="nombre" class="form-control" id="nombre" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                        <label for="cantidad">Cantidad</label>
                        <input formControlName="cantidad" type="number" name="cantidad" class="form-control" id="cantidad" required min="0">
                    </div>
                </div>
            </div>
            <div class="col-md-10 ps-5">
                <div class="mb-3">
                    <label for="descripcion">Descripcion</label>
                    <input formControlName="descripcion" type="text" name="descripcion" class="form-control" id="descripcion" required min="0">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6 text-end">
                        <button type="button" class="btn btn-danger" style="width: 90px;">Cancelar</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success" style="width: 90px;" [disabled]="!newMaterial.valid">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
