
.result-item {
  display: block;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid darkgray; /* Borde inferior entre elementos */
}

.result-item:last-child {
  border-bottom: none; /* Elimina el borde inferior del último elemento */
}

.result-item:hover {
  background-color: lightgray; /* Cambia el color de fondo al pasar el ratón */
}

.search-results-container {
  max-height: 200px; /* Altura máxima de la lista */
  overflow-y: auto; /* Habilitar desplazamiento vertical */
}
.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
  z-index: 1000;
}

.search-results-container {
  max-height: 200px;
  overflow-y: auto;
}
