<div *ngIf="loadingService.loadingState | async" class="overlay">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>
<div class="col-lg-12" style="margin-bottom: 35px; min-height: 700px">
    <div class="row" style="margin-top: 15px; margin-bottom: 15px">
        <div class="col-lg-4 mt-3" >
            <h2 style="margin-left: 50px" >Partes</h2>
        </div>
        <div class="col-lg-4">
            <nav class="navbar">
                <input class="search " type="text" name="filter" [(ngModel)]="searchText" placeholder="Busqueda...">
            </nav>
        </div>
        <div class="col-lg-4 text-center" style="margin-top: 8px">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="partes.length"></ngb-pagination>
        </div>
    </div>
    <section class="table__body" style="margin-bottom: 35px">
        <table>
            <thead>
            <tr>
                <th></th>
                <th (click)="sortingService.sortBy('id')">Id <span [innerHTML]="sortingService.getSortIcon('id')"></span></th>
                <th (click)="sortingService.sortBy('id_user')">Empleado <span [innerHTML]="sortingService.getSortIcon('id_user')"></span></th>
                <th (click)="sortingService.sortBy('id_obra')">Obra <span [innerHTML]="sortingService.getSortIcon('id_obra')"></span></th>
                <th (click)="sortingService.sortBy('fecha_parte')">Fecha <span [innerHTML]="sortingService.getSortIcon('fecha_parte')"></span></th>
                <th>
                    <button type="button" class="btn btnColor"  style="padding: 5px; width: 140px" (click)="showParteModal()">
                        <i class="bi bi bi-file-earmark-plus"></i>
                         Parte</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let parte of partes  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:searchText | orderBy: sortingService.fieldName : sortingService.reverse ">
                <tr>
                    <td>
                        <a class="button" (click)="toggleDetalle(parte)">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-in" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"/>
              <path d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z"/>
              <path fill-rule="evenodd" d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 0 0 1 .5-.5"/>
              </svg>
            </span>
            <span class="text">Ver detalles</span>
               </a>
                    </td>
                    <td>{{ parte.id }}</td>
                    <td>{{ parte.id_user }}</td>
                    <td>{{ parte.id_obra }}</td>
                    <td>{{ parte.fecha_parte | date:'dd/MM/yyyy' }}</td>
                    <td>
                        <div style="display: flex">
                            <button class="iconButton downloadButton" (click)="descargarParte(parte)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512" class="svgIcon">
                                    <path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path>
                                </svg>
                                <span class="icon2"></span>
                                <span class="tooltip">Descargar</span>
                            </button>
                            <span style="margin: 5px;"></span>
                            <button class="iconButton editButton" (click)="showParteModalUpdate(parte)">
                                <svg height="1em" viewBox="0 0 512 512" class="bin" style="overflow: hidden; position:relative;">
                                    <path fill="#FFD700" d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                                </svg>
                                <span class="tooltip">Editar</span>
                            </button>
                            <span style="margin: 5px;"></span>
                            <button class="iconButton deleteButton" (click)="deleteParte(parte.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 59" class="bin">
                                    <path fill="#8B0000" d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z"></path>
                                    <path fill="#8B0000" d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z"></path>
                                    <path fill="#8B0000" d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                    <path fill="#8B0000" d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                                </svg>
                                <span class="tooltip">Borrar</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <ng-container *ngIf="parteSeleccionado === parte">
                    <tr>
                        <td colspan="7">
                            <table>
                                <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Base unitaria</th>
                                    <th>Horas Trabajadas</th>
                                    <th>Precio</th>
                                    <th>Total</th>
                                    <th>
                                        <button type="button" class="btn btnColor" style="padding: 5px; width: 150px" (click)="showTareaModal(parte.id)"><i class="bi bi bi-file-earmark-plus"></i> Tarea</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let tarea of tareas">
                                    <td>{{ tarea.descripcion }}</td>
                                    <td>{{ tarea.personal_asignado }}</td>
                                    <td>{{ tarea.horas_trabajadas | number:'1.0-2' }}</td>
                                    <td>{{ tarea.precio_por_hora | number:'1.0-2'}}€</td>
                                    <td>{{ tarea.horas_trabajadas * tarea.precio_por_hora }}€</td>
                                    <td>
                                        <div style="display: flex">
                                            <button class="iconButton editButton" (click)="showTareaModalUpdate(tarea)">
                                                <svg height="1em" viewBox="0 0 512 512" class="bin" style="overflow: hidden; position:relative;">
                                                    <path fill="#FFD700" d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                                                </svg>
                                                <span class="tooltip">Editar</span>
                                            </button>
                                            <span style="margin: 5px;"></span>
                                            <button class="iconButton deleteButton" (click)="deleteTarea(tarea.id)">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 59" class="bin">
                                                    <path fill="#8B0000" d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z"></path>
                                                    <path fill="#8B0000" d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z"></path>
                                                    <path fill="#8B0000" d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z" clip-rule="evenodd" fill-rule="evenodd"></path>
                                                    <path fill="#8B0000" d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                                                </svg>
                                                <span class="tooltip">Borrar</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
            </tbody>
        </table>
    </section>
</div>
