.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 0;
}

.footer-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-title a {
    color: #fff;
    text-decoration: none;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.footer ul li a:hover {
    color: #ddd;
}

@media (max-width: 768px) {
    .footer .col-md-4 {
        width: 100%;
    }
}
