
  <!--
  <div class="copyright">Copyright © Construcciones Jara Andreu - All rights reserved</div>

<div style="padding-top:30px; background-color: #1d1e2c; margin-top: 30px">
  <div class="row">
    <div class="col-md-4" style="color: white">
      <h5>Quienes somos</h5>
      <p>Somos una empresa dedicada al sector de la construccion que cuenta con mas de 30 años de experiencia en el sector y que cuenta con grandes
      profesionales</p>
    </div>
    <div class="col-md-4" style="color: white; margin-left: 30px">
      <h5>Servicios que ofrecemos</h5>
      <ul>
        <li>Albañileria</li>
        <li>Fontanerua</li>
        <li>Electricidad</li>
        <li>Pintura</li>
        <li>Fachada</li>
        <li>Reformas</li>
      </ul>
    </div>
  </div>
</div>-->

  <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h4 class="footer-title">Contacto</h4>
                  <ul class="list-unstyled">
                      <li><a href="#">Dirección</a></li>
                      <li><a href="#">Teléfono</a></li>
                      <li><a href="#">Correo electrónico</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <h4 class="footer-title">Redes sociales</h4>
                  <ul class="list-unstyled">
                      <li><a href="#">Facebook</a></li>
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">Instagram</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <h4 class="footer-title">Derechos reservados</h4>
                  <p>© 2024 Todos los derechos reservados.</p>
              </div>
          </div>
      </div>
  </footer>
