.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
  z-index: 1000;
}

.result-item {
  display: block;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid darkgray;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: lightgray;
}

.search-results-container {
  max-height: 200px;
  overflow-y: auto;
}
